/* Styles for some of the page elements */
#fiveDayForecast {
    display: flex;
}

#mainBox {
    display: flex;
}

#leftBox {
    max-width: 25%;
}

#rightBox {
    max-width: 75%;
}

/* Styles for the changes in the UV text */
.favorableUV {
    background-color: green;
    color: white;
}

.moderateUV {
    background-color: yellow;
    color: black;
}
.severeUV {
    background-color: red;
    color: white;
}