#fiveDayForecast {
    display: flex;
}

#mainBox {
    display: flex;
}

#leftBox {
    max-width: 25%;
}

#rightBox {
    max-width: 75%;
}

.favorableUV {
    background-color: green;
    color: white;
}

.moderateUV {
    background-color: yellow;
    color: black;
}
.severeUV {
    background-color: red;
    color: white;
}